table.chessboard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background: rgb(224, 207, 207);
    border: 15px solid #333;
    border-collapse: collapse;
}

td.chessboard {
    width: min(10vw, 10vh, 70px, 7rem);
    height: min(10vw, 10vh, 70px, 7rem);
    text-align: center;
    font-size: min(5vw, 5vh, 35px, 4rem);
    color: black;
    border: 2px solid #333;
    pointer-events: auto;
    cursor: pointer;
}

td.chessboard:hover{
    border-color: rgb(230, 245, 97);
}

tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
    background: #5b59cc !important;
}


.selected{
    background-color: #21e02a;
    margin: 5px;
}